/* ***************************buttonlar*************************** */

.product-button {
    position: absolute;
    top: 540px;
    left: 20px;
    width: 360px;
    height: 60px;
    /* UI Properties */
    background: transparent linear-gradient(80deg, #FFA828 0%, #FFE633 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    opacity: 1;
}

.product-button-1 {
    position: absolute;
    top: 540px;
    left: 20px;
    width: 360px;
    height: 60px;
    background: #254372 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    opacity: 1;
}

.product-button-2 {
    position: absolute;
    top: 540px;
    left: 20px;
    width: 360px;
    height: 60px;
    background: transparent linear-gradient(80deg, #FFA828 0%, #FFE633 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    opacity: 1;
}

.button-text {
    width: 124px;
    height: 23px;
    text-align: left;
    font: normal normal 600 17px/23px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}


/* ***************************** urun detaylari*********************** */

.product-detail {
    position: absolute;
    top: 320px;
    left: 20px;
    width: 360px;
    height: 162px;
    text-align: left;
    font: normal normal normal 16px/28px Open Sans;
    letter-spacing: 0px;
    color: #454545;
    opacity: 1;
}

.product-detail-1 {
    position: absolute;
    top: 320px;
    left: 20px;
    width: 360px;
    height: 162px;
    text-align: left;
    font: normal normal normal 16px/28px Open Sans;
    letter-spacing: 0px;
    color: #454545;
    opacity: 1;
}

.product-detail-2 {
    position: absolute;
    top: 320px;
    left: 20px;
    width: 360px;
    height: 134px;
    text-align: left;
    font: normal normal normal 16px/28px Open Sans;
    letter-spacing: 0px;
    color: #454545;
    opacity: 1;
}


/* *******************************urun basliklari************************** */

.product-title {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 97px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}

.product-title-1 {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 97px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}

.product-title-2 {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 95px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}

.product-title-3 {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 95px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}

.product-title-4 {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 95px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}

.product-title-5 {
    position: absolute;
    top: 280px;
    left: 20px;
    width: 95px;
    height: 33px;
    text-align: left;
    font: normal normal 600 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #3CA7F5;
    opacity: 1;
}


/* ************************************* urun resimleri****************************** */

.klima {
    /* ??????? */
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tente {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    /* UI Properties */
    background: transparent url('img/ab2e44c2afe9d4a791d8157ce8c1301c.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tente-1 {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    opacity: 1;
}

.klima-1 {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    background: transparent url('img/Image 1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tente-2 {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    opacity: 1;
}

.tente-3 {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 360px;
    height: 249px;
    opacity: 1;
}


/* ******************************** Cerceveler**************************** */

.cerceve {
    position: absolute;
    top: 588px;
    left: 320px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.cerceve-1 {
    position: absolute;
    top: 588px;
    left: 760px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.cerceve-2 {
    position: absolute;
    top: 588px;
    left: 1200px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.cerceve-3 {
    position: absolute;
    top: 1257px;
    left: 320px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.cerceve-4 {
    position: absolute;
    top: 1257px;
    left: 760px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.cerceve-5 {
    position: absolute;
    top: 1257px;
    left: 1200px;
    width: 400px;
    height: 629px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9E9E9;
    opacity: 1;
}

.page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 2415px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* background: gray; */
    opacity: 1;
}


/* ******************************************* footer part************************************** */

.footer {
    /* Layout Properties */
    position: absolute;
    top: 1969px;
    left: 0px;
    width: 1920px;
    height: 449px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-col {
    /* Layout Properties */
    margin-top: 64px;
    margin-left: 20px;
    width: 136px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-a {
    /* Layout Properties */
    top: 2075px;
    left: 360px;
    width: 5px;
    height: 10px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    /* UI Properties */
    background: #C3C3C3 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-col-a {
    /* Layout Properties */
    /* top: 2071px; */
    margin-left: 20px;
    width: 226px;
    height: 159px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #C3C3C3;
    opacity: 1;
}

.footer-col-2 {
    /* Layout Properties */
    margin-top: 64px;
    margin-left: 85px;
    width: 136px;
    height: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.footer-col-b {
    /* Layout Properties */
    position: absolute;
    top: 102px;
    left: 1380px;
    width: 196px;
    height: 19px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #C3C3C3;
    opacity: 1;
}

.footer-col-c {
    /* Layout Properties */
    position: absolute;
    top: 240px;
    left: 1380px;
    width: 196px;
    height: 19px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 14px/35px Open Sans;
    letter-spacing: 0px;
    color: #C3C3C3;
    opacity: 1;
}


/* ***************************** caravan pic part*************************************************************************** */

.explain {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1920px;
    height: 408px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.golge {
    position: absolute;
    top: 61px;
    left: 1054px;
    width: 546px;
    height: 305px;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    opacity: 1;
}

.caravan-img {
    position: absolute;
    top: 51px;
    left: 1042px;
    width: 548px;
    height: 307px;
    opacity: 1;
}

.path {
    position: absolute;
    top: 5px;
    left: 320px;
    width: 51px;
    height: 17px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.title {
    position: absolute;
    top: 68px;
    left: 320px;
    width: 310px;
    height: 55px;
    text-align: left;
    font: normal normal 600 40px/55px Open Sans;
    letter-spacing: 0px;
    color: #254372;
    opacity: 1;
}

.paragraph {
    position: absolute;
    top: 153px;
    left: 320px;
    width: 545px;
    height: 147px;
    text-align: left;
    font: normal normal normal 15px/28px Open Sans;
    letter-spacing: 0px;
    color: #454545;
    opacity: 1;
}


/* ************************************************ top part ******************************************************** */

.arrow {
    border: solid #C3C3C3;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.bt {
    /* buttonlara ayri ayri isim verilebilir. alt menunun arrow buttonları icin*/
    background-color: black;
}

.top-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo {
    position: absolute;
    top: 24px;
    left: 320px;
    width: 220px;
    height: 26px;
    opacity: 1;
}

.a1 {
    position: absolute;
    top: 29px;
    left: 675px;
    width: 66px;
    height: 42px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1
}

.a2 {
    position: absolute;
    top: 29px;
    left: 771px;
    width: 69px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

.a3 {
    position: absolute;
    top: 29px;
    left: 870px;
    width: 68px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

.a4 {
    position: absolute;
    top: 29px;
    left: 968px;
    width: 141px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
}

.ara {
    position: absolute;
    top: 30px;
    left: 1350px;
    width: 20px;
    height: 20px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.a5 {
    position: absolute;
    top: 30px;
    left: 1371px;
    width: 56px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.a6 {
    position: absolute;
    top: 30px;
    left: 1452px;
    width: 32px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.a7 {
    position: absolute;
    top: 30px;
    left: 1514px;
    width: 19px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.a8 {
    position: absolute;
    top: 30px;
    left: 1563px;
    width: 36px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}